@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Raleway:wght@800&display=swap');


* {
    margin: 0pt;
    padding: 0pt;
    box-sizing: border-box;
}



body {
    background-color: #080808;
    ;
}

a {
    text-decoration: none;

}

.container {
    margin: 0 auto;
    max-width: 1000pt;
    width: 100%;
}

.logo-social {
    width: 25pt;
    margin-left: 12pt;
}

header>.container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1B1B1B;
    justify-content: space-around;
    height: 50pt;
    border-radius: 0pt 0pt 8pt 8pt;
    padding: 0pt 100pt;

}

.menu-items-header li a {
    font-family: "IBM Plex Mono";
    cursor: pointer;
    color: #9C9C9C;
}


.menu-items-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    gap:65pt;
}

.img-header {
    display: flex;
    align-items: center;
}