.main-portfolio > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 525pt;
}

.title-text-portfolio {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.profile-portfolio {
  padding: 0pt 115pt;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-portfolio {
  width: 230.25pt;
  height: 47.25pt;
  border-radius: 2pt;
  border: 0.5pt solid #62ba1b;
  background: #3f8e00;
  box-shadow: 0pt 4.5pt 15pt 0pt rgba(63, 142, 0, 0.5);
  color: #ffffff;
  font-family: "IBM Plex Mono";
  font-size: 12pt;
}

.title-portfolio {
  color: #ffffff;
  font-size: 33pt;
  font-family: "Raleway";
  margin-bottom: 20pt;
}

.text-portfolio {
  color: #9c9c9c;
  font-size: 11pt;
  font-family: "IBM Plex Mono";
  margin-bottom: 20pt;
}

.block-text-img {
  max-width: 312pt;
  border-radius: 50%;
}

.company-portfolio {
  width: 100%;
  padding: 60pt 115pt 0pt 115pt;
}

.company-icons-portfolio {
  display: flex;
  justify-content: space-between;
}

.company-icons-portfolio img {
  width: 120pt;
  border-radius: 3pt;
  border: 1pt solid #1b1b1b;
}

.subject-researches {
  background-color: white;
}

.subject-researches > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 60pt 0pt;
}

.works-title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-title {
  font-family: "Raleway";
  font-size: 25.5pt;
}

.works-text {
  text-align: center;
  font-size: 10.5pt;
  font-family: "IBM Plex Mono";
  color: #9c9c9c;
  margin-top: 15pt;
}

.work-section {
  display: flex;
  flex-direction: row;
  padding-top: 50pt;
  width: 770pt;
  justify-content: space-between;
}

.work-section-reverse {
  flex-direction: row-reverse;
}

.work-section-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-section img {
  height: 260pt;
}

.figure-fintech {
  display: flex;
  height: 18pt;
  justify-content: center;
  align-items: center;
  width: 50pt;
  border-radius: 20pt;
  color: #ffa217;
  background-color: #fff6e9;
}

.figure-edtech {
  display: flex;
  height: 18pt;
  justify-content: center;
  align-items: center;
  width: 50pt;
  border-radius: 20pt;
  color: #000aff;
  background-color: #d0e6ff;
}

.figure-pharma {
  display: flex;
  height: 18pt;
  justify-content: center;
  align-items: center;
  width: 50pt;
  border-radius: 20pt;
  color: #2ab090;
  background-color: #e0fff8;
}

.work-section h1 {
  font-size: 18pt;
  font-family: "Raleway";
  margin-top: 20pt;
}

.work-section p {
  font-size: 12pt;
  font-family: "IBM Plex Mono";
  margin-top: 10pt;
  color: #9c9c9c;
}

.work-button-fintech {
  width: 142pt;
  height: 28.5pt;
  border-radius: 4pt;
  margin-top: 20pt;
  font-family: "Raleway";
  color: white;
  background: #ffa217;
  box-shadow: 0pt 8pt 30pt 0pt rgba(42, 176, 144, 0.1);
  border: none;
  cursor: pointer;
}

.work-button-fintech:hover {
  background: rgba(0, 0, 0, 0);
  color: #ffa217;
  box-shadow: inset 0 0 0 3px #ffa217;
}

.work-button-edtech {
  width: 142pt;
  height: 28.5pt;
  border-radius: 4pt;
  margin-top: 20pt;
  font-family: "Raleway";
  color: white;
  background: #000aff;
  box-shadow: 0pt 8pt 30pt 0pt rgba(42, 176, 144, 0.1);
  border: none;
  cursor: pointer;
}

.work-button-edtech:hover {
  background: rgba(0, 0, 0, 0);
  color: #000aff;
  box-shadow: inset 0 0 0 3px #000aff;
}

.work-button-pharma {
  width: 142pt;
  height: 28.5pt;
  border-radius: 4pt;
  margin-top: 20pt;
  font-family: "Raleway";
  color: white;
  background: #2ab090;
  box-shadow: 0pt 8pt 30pt 0pt rgba(42, 176, 144, 0.1);
  border: none;
  cursor: pointer;
}

.work-button-pharma:hover {
  background: rgba(0, 0, 0, 0);
  color: #2ab090;
  box-shadow: inset 0 0 0 3px #2ab090;
}

.testimonials-section > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 60pt 0pt;
}

.user-frame {
  position: relative;
  height: 160pt;
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0pt 20pt;
}

.user-frame::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 6px;
  padding: 1px;
  background: linear-gradient(90deg, white 0%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.user-frame h1 {
  color: white;
  font-size: 14pt;
  font-family: "Raleway";
}

.testimonials-users-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20pt;
  column-gap: 20pt;
}

.user-frame p {
  color: white;
  font-size: 12pt;
  font-family: "IBM Plex Mono";
}

.testimonials-title {
  color: #fff;
  font-size: 26pt;
  font-family: "Raleway";
}

.testimonials-text {
  color: #9c9c9c;
  font-size: 11pt;
  text-align: center;
  font-family: "IBM Plex Mono";
  margin: 20pt 0pt;
}

.testimonials-users-photos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15pt;
}

.testimonials-users-photos img {
  border-radius: 50%;
  margin-right: 20pt;
}

.reset-work-section {
  background-color: white;
}

.reset-work-section > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 600pt;
  padding:60pt 0pt ;
}

.reset-work-title {
  font-size: 26pt;
  font-family: "Raleway";
}

.reset-work-text {
  color: #9c9c9c;
  font-size: 11pt;
  text-align: center;
  font-family: "IBM Plex Mono";
  padding: 20pt 0pt 20pt 0pt;
}

.ready-made-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 690pt;
}

.ready-made-projects p {
  text-align: none;
  color: #9c9c9c;
  font-size: 11pt;
  font-family: "IBM Plex Mono";
  margin-bottom: 20pt;
}

.ready-made-projects button {
  display: flex;
  border-radius: 4px;
  border: 1pt solid #62ba1b;
  background: #3f8e00;
  box-shadow: 0pt 8pt 30pt 0pt rgba(63, 142, 0, 0.3);
  align-items: center;
  justify-content: center;
  color: white;
  width: 100pt;
  height: 30pt;
  cursor: pointer;
}

.ready-made-projects button:hover {
  background: rgba(0, 0, 0, 0);
  color: #3f8e00;
  box-shadow: inset 0 0 0 1pt #62ba1b;
}

.ready-made-projects h2 {
  font-size: 18pt;
  font-family: "Raleway";
  margin: 20pt 0pt 20pt 0pt;
}

.get-contacs-section > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 600pt;
}

.contacs-input {
  display: flex;
  flex-direction: column;
  height: 250pt;
}

.contacs-input button {
  border-radius: 4pt;
  border: 1pt solid #62ba1b;
  background: #3f8e00;
  box-shadow: 0pt 8pt 30pt 0pt rgba(63, 142, 0, 0.3);
  width: 263pt;
  height: 40pt;
  margin-top: 20pt;
  color: white;
  cursor: pointer;
}

.get-contacs-section h1 {
  font-size: 26pt;
  font-family: "Raleway";
  margin-top: 20pt;
  color: white;
}

.get-contacs-section p {
  text-align: center;
  color: #9c9c9c;
  font-size: 11pt;
  font-family: "IBM Plex Mono";
  margin: 20pt 0pt;
}

.contacs-input input {
  display: flex;
  border-radius: 4pt;
  align-items: center;
  width: 263pt;
  height: 30pt;
  font-size: 12pt;
  color: black;
  border: none;
  padding-left: 10pt;
  font-family: "IBM Plex Mono";
}

.contacs-input label {
  display: flex;
  align-items: center;
  margin-bottom: 5pt;
  padding-top: 20pt;
  font-size: 12pt;
  color: #ffffff;
  font-family: "IBM Plex Mono";
}

.contacs-input {
  height: 320pt;
  font-family: "IBM Plex Mono";
}

.contacs-input textarea {
  height: 120pt;
  resize: none;
  font-size: 12pt;
  font-family: "IBM Plex Mono";
  border-radius: 4pt;
  padding: 10pt 0pt 0pt 10pt;
}
