.main-portfolio>.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 525pt;
}

.title-text-portfolio {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.profile-portfolio {
    height: 250pt;
    padding: 0pt 115pt;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-portfolio {
    width: 230.25pt;
    height: 47.25pt;
    border-radius: 2pt;
    border: 0.5pt solid #62BA1B;
    background: #3F8E00;
    box-shadow: 0pt 4.5pt 15pt 0pt rgba(63, 142, 0, 0.50);
    color: #FFFFFF;
    font-family: "IBM Plex Mono";
    font-size: 12pt;
}

.title-portfolio {
    color: #FFFFFF;
    font-size: 33pt;
    font-family: "Raleway";
    margin-bottom: 20pt;
}

.text-portfolio {
    color: #9C9C9C;
    font-size: 11pt;
    font-family: "IBM Plex Mono";
    margin-bottom: 20pt;
}

.block-text-img {
    max-width: 312pt;
    border-radius: 50%;
}

.company-portfolio {
    width: 100%;
    padding: 60pt 115pt 0pt 115pt;
}

.company-icons-portfolio {
    display: flex;
    justify-content: space-between;
}

.company-icons-portfolio img {
    width: 120pt;
    border-radius: 3pt;
    border: 1pt solid #1B1B1B;
}

.subject-researches {
    padding-top: 60pt;
    background-color: white;
}

.subject-researches>.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 1100pt;

}

.works-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 672.75pt;
}

.works-title {
    font-family: "Raleway";
    font-size: 25.5pt;
}

.works-text {
    text-align: center;
    font-size: 10.5pt;
    font-family: "IBM Plex Mono";
    color: #9C9C9C;
    margin-top: 15pt;
}

.work-section {
    display: flex;
    flex-direction: row;
    padding-top: 50pt;
    width: 770pt;
    justify-content: space-between;
}

.work-section-reverse {
    flex-direction: row-reverse;
}

.work-section-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work-section img {
    height: 260pt;
}

.figure-fintech {
    display: flex;
    height: 18pt;
    justify-content: center;
    align-items: center;
    width: 50pt;
    border-radius: 20pt;
    color: #FFA217;
    background-color: #FFF6E9;
}

.figure-edtech {
    display: flex;
    height: 18pt;
    justify-content: center;
    align-items: center;
    width: 50pt;
    border-radius: 20pt;
    color: #000AFF;
    background-color: #D0E6FF;
}

.figure-pharma {
    display: flex;
    height: 18pt;
    justify-content: center;
    align-items: center;
    width: 50pt;
    border-radius: 20pt;
    color: #2AB090;
    background-color: #E0FFF8;
}

.work-section h1 {
    font-size: 18pt;
    font-family: "Raleway";
    margin-top: 20pt;
}


.work-section p {
    font-size: 12pt;
    font-family: "IBM Plex Mono";
    margin-top: 10pt;
    color: #9C9C9C;
}

.work-button-fintech {
    width: 142pt;
    height: 28.5pt;
    border-radius: 4pt;
    margin-top: 20pt;
    font-family: "Raleway";
    color: white;
    background: #FFA217;
    box-shadow: 0pt 8pt 30pt 0pt rgba(42, 176, 144, 0.10);
    border: none;
    cursor: pointer;
}

.work-button-fintech:hover {
    background: rgba(0, 0, 0, 0);
    color: #FFA217;
    box-shadow: inset 0 0 0 3px #FFA217;
}

.work-button-edtech {
    width: 142pt;
    height: 28.5pt;
    border-radius: 4pt;
    margin-top: 20pt;
    font-family: "Raleway";
    color: white;
    background: #000AFF;
    ;
    box-shadow: 0pt 8pt 30pt 0pt rgba(42, 176, 144, 0.10);
    border: none;
    cursor: pointer;
}

.work-button-edtech:hover {
    background: rgba(0, 0, 0, 0);
    color: #000AFF;
    box-shadow: inset 0 0 0 3px #000AFF;
}

.work-button-pharma {
    width: 142pt;
    height: 28.5pt;
    border-radius: 4pt;
    margin-top: 20pt;
    font-family: "Raleway";
    color: white;
    background: #2AB090;
    box-shadow: 0pt 8pt 30pt 0pt rgba(42, 176, 144, 0.10);
    border: none;
    cursor: pointer;
}

.work-button-pharma:hover {
    background: rgba(0, 0, 0, 0);
    color: #2AB090;
    box-shadow: inset 0 0 0 3px #2AB090;
}


.testimonials-section>.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 600pt;
}

.user-frame {
    position: relative;
    width: 360pt;
    height: 160pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0pt 20pt;
}

.user-frame::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 6px;
    padding: 1px;
    background: linear-gradient(90deg,
            white 0%,
            rgba(0, 0, 0, 0)100%);
    pointer-events: none;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.user-frame h1 {
    color: white;
    font-size: 14pt;
    font-family: "Raleway";
}

.testimonials-users-frame {
    display: flex;
    flex-direction: row;
    width: 760pt;
    padding: 30pt 0pt;
    justify-content: space-between;
}

.user-frame p {
    color: white;
    font-size: 12pt;
    font-family: "IBM Plex Mono";
}

.testimonials-title {
    color: #FFF;
    font-size: 26pt;
    font-family: "Raleway";
    padding: 20pt 0pt 20pt 0pt;
}

.testimonials-text {
    color: #9C9C9C;
    font-size: 11pt;
    text-align: center;
    font-family: "IBM Plex Mono";
    padding: 0pt 0pt 20pt 0pt;
}

.testimonials-users-photos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15pt;

}

.testimonials-users-photos img {
    border-radius: 50%;
    margin-right: 20pt;
}

.reset-work-section {
    background-color: white;
}

.reset-work-section>.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 600pt;
}

.reset-work-title {
    font-size: 26pt;
    font-family: "Raleway";
    margin-top: 20pt;
}

.reset-work-text {
    color: #9C9C9C;
    font-size: 11pt;
    text-align: center;
    font-family: "IBM Plex Mono";
    padding: 20pt 0pt 20pt 0pt;
}

.ready-made-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 690pt;
}

.ready-made-projects p {
    text-align: none;
    color: #9C9C9C;
    font-size: 11pt;
    font-family: "IBM Plex Mono";
    margin-bottom: 20pt;
}

.ready-made-projects button {
    display: flex;
    border-radius: 4px;
    border: 1pt solid #62BA1B;
    background: #3F8E00;
    box-shadow: 0pt 8pt 30pt 0pt rgba(63, 142, 0, 0.30);
    align-items: center;
    justify-content: center;
    color: white;
    width: 100pt;
    height: 30pt;
    cursor: pointer;
}

.ready-made-projects button:hover {
    background: rgba(0, 0, 0, 0);
    color: #3F8E00;
    box-shadow: inset 0 0 0 1pt #62BA1B;
}

.ready-made-projects h2 {
    font-size: 18pt;
    font-family: "Raleway";
    margin: 20pt 0pt 20pt 0pt;
}

.get-contacs-section>.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 600pt;
}

.contacs-input{
    display: flex;
    flex-direction: column;
    height: 250pt;
}

.contacs-input button{
    border-radius: 4pt;
    border: 1pt solid #62BA1B;
    background: #3F8E00;
    box-shadow: 0pt 8pt 30pt 0pt rgba(63, 142, 0, 0.30);
    width: 263pt;
    height: 40pt;
    margin-top: 20pt;
    color: white;
    cursor: pointer;
}

.get-contacs-section h1{
    font-size: 26pt;
    font-family: "Raleway";
    margin-top: 20pt;
    color: white;
}

.get-contacs-section p{
    text-align: none;
    color: #9C9C9C;
    font-size: 11pt;
    font-family: "IBM Plex Mono";
    margin-bottom: 20pt;
}

.contacs-input input{
    display: flex;
    border-radius: 4pt;
    align-items: center;
    width: 263pt;
    height: 30pt;
    font-size: 12pt;
    color: black;
    border:none;
    padding-left: 10pt;
}


.contacs-input label{
    display: flex;
    align-items: center;
    margin-bottom: 5pt;
    padding-top: 20pt;
    font-size: 12pt;
    color: #ffffff;

}

.contacs-input{
    height: 320pt;
}

.contacs-input textarea{
    height: 120pT;
    resize: none;
    border-radius: 4pt;
    padding: 10pt 0pt 0pt 10pt;
}


