.winfull5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction:column;
    margin-top: 50pt;

}

.centergetintouch{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.midletextintouch{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top:50pt;
    padding-bottom:30pt;
    
}

.titlegetintouch{
    color: white;
    font-size: 26pt;
     
}

.textgetintouch{
    color: #9C9C9C;
    font-size: 17pt;
    width: 500pt;
    text-align: center;
    padding-top: 20pt;
}

.text-reg{
    color:white;
    margin-bottom: 5pt;
}

.emailform , .mobileform{
    width: 350pt;
    height: 40pt;
    border-radius: 4pt;
    padding:0pt 0pt 0pt 10pt;
    font-size: 12pt;
    color: #9C9C9C;
}

.messageform{
    width: 350pt;
    height: 120pt;
    border-radius: 4pt;
    padding:0pt 0pt 85pt 10pt;
    font-size: 12pt;
    color: #9C9C9C;
}

.form-reg{
    padding-top: 20pt;
  
}

.registrathionforms{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.placeholder{
    display: flex;
    align-items: start;
}
.registrathion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30pt;
}

.buttomregistrathion{
    padding-top: 20pt;
    padding-bottom: 20pt;

}

.stylebuttomreg{
    width: 350pt;
    height: 50pt;
    left: calc(50% - 350px/2);
    background: #3F8E00;
    border: 1pt solid #62BA1B;
    color:white;
    font-size: 17pt;
    border-radius: 4pt;
}

.Vectorpng{
    width:5.89pt;
}
