.winfull6{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1B1B1B;
    flex-direction:column;
}

.center-bottom{
    height: 50pt;
    display: flex;
    align-items: center;
}

.madewith{
    color:#9C9C9C;
    font-size: 16pt;
    
    
}